<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itmk.system.mapper.SysUserMapper">

    <select id="findById" resultType="com.itmk.system.entity.jpa.JpaSysUser">
        select * from sys_user where id=#{id}
    </select>
</mapper>